<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.system.HazardousWasteCategoryMapper">

    <resultMap id="HazardousWasteCategoryResultMap" type="com.erp.entity.system.HazardousWasteCategory">
        <id property="categoryId" column="废物类别编号"/>
        <result property="wasteCategory" column="废物类别"/>
        <result property="wasteCategoryName" column="废物类别名称"/>
        <result property="limitAmount" column="限额"/>
        <result property="limitStartTime" column="限额开始时间"/>
        <result property="limitEndTime" column="限额结束时间"/>
        <result property="creatorId" column="创建人编码"/>
        <result property="updaterId" column="更新人编码"/>
        <result property="categoryUpdateTime" column="更新时间"/>
    </resultMap>

    <select id="selectByWasteCategory" resultMap="HazardousWasteCategoryResultMap">
        SELECT
            废物类别编号,
            废物类别,
            废物类别名称,
            限额,
            限额开始时间,
            限额结束时间,
            创建人编码,
            更新人编码,
            更新时间
        FROM HAZARDOUS_WASTE_CATEGORY
        WHERE 废物类别 = #{wasteCategory}
        LIMIT 1
    </select>

    <select id="selectByWasteCategories" resultMap="HazardousWasteCategoryResultMap">
        SELECT
            废物类别编号,
            废物类别,
            废物类别名称,
            限额,
            限额开始时间,
            限额结束时间,
            创建人编码,
            更新人编码,
            更新时间
        FROM HAZARDOUS_WASTE_CATEGORY
        WHERE 废物类别 IN
        <foreach collection="categories" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insertBatch">
        INSERT INTO HAZARDOUS_WASTE_CATEGORY
        (
            废物类别,
            废物类别名称,
            限额,
            限额开始时间,
            限额结束时间
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.wasteCategory},
                #{item.wasteCategoryName},
                #{item.limitAmount},
                #{item.limitStartTime},
                #{item.limitEndTime}
            )
        </foreach>
    </insert>

    <delete id="deleteBatch">
        DELETE FROM HAZARDOUS_WASTE_CATEGORY
        WHERE 废物类别编号 IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>










