<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.system.SysConfigMapper">

    <resultMap id="BaseResultMap" type="com.erp.entity.system.SysConfig">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
        <result property="remark" column="remark"/>
        <result property="modifierId" column="modifier_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        value,
        remark,
        modifier_id
    </sql>

    <select id="selectByName" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SYS_CONFIG
        WHERE name = #{name}
        LIMIT 1
    </select>

</mapper>





