<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.contract.BusinessContractWasteInfoMapper">

    <resultMap id="BusinessContractWasteInfoResultMap" type="com.erp.entity.contract.BusinessContractWasteInfo">
        <id column="危废信息编号" property="wasteInfoId"/>
        <result column="明细编号" property="wasteItemId"/>
        <result column="行内顺序" property="innerRowNo"/>
        <result column="来源废物项编号" property="sourceWasteItemId"/>
        <result column="危废类型" property="wasteType"/>
        <result column="废物代码" property="wasteCode"/>
        <result column="危废名称" property="wasteName"/>
        <result column="创建时间" property="createTime"/>
        <result column="更新时间" property="updateTime"/>
        <result column="是否删除" property="deleted"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="selectByWasteItemId" resultMap="BusinessContractWasteInfoResultMap">
        SELECT 危废信息编号, 明细编号, 行内顺序, 来源废物项编号, 危废类型, 废物代码, 危废名称, 创建时间, 更新时间, 是否删除, version
        FROM BUSINESS_CONTRACT_WASTE_INFO
        WHERE 明细编号 = #{wasteItemId}
          AND 是否删除 = 0
        ORDER BY 行内顺序 ASC, 危废信息编号 ASC
    </select>

    <select id="selectByWasteItemIds" resultMap="BusinessContractWasteInfoResultMap">
        SELECT 危废信息编号, 明细编号, 行内顺序, 来源废物项编号, 危废类型, 废物代码, 危废名称, 创建时间, 更新时间, 是否删除, version
        FROM BUSINESS_CONTRACT_WASTE_INFO
        WHERE 明细编号 IN
        <foreach collection="wasteItemIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
          AND 是否删除 = 0
        ORDER BY 明细编号 ASC, 行内顺序 ASC, 危废信息编号 ASC
    </select>

    <delete id="deleteByWasteItemId">
        DELETE FROM BUSINESS_CONTRACT_WASTE_INFO
        WHERE 明细编号 = #{wasteItemId}
    </delete>

    <delete id="deleteByWasteItemIds">
        DELETE FROM BUSINESS_CONTRACT_WASTE_INFO
        WHERE 明细编号 IN
        <foreach collection="wasteItemIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
