<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.transport.DispatchOrderNoticeMapper">

    <resultMap id="DispatchOrderNoticeResultMap" type="com.erp.entity.transport.DispatchOrderNotice">
        <id column="运输单明细编号" property="id"/>
        <result column="运输单号" property="dispatchCode"/>
        <result column="收运通知单号" property="noticeCode"/>
        <result column="运输终点" property="endPoint"/>
        <result column="实际到达时间" property="arriveAt"/>
        <result column="预计重量" property="estimatedWeight"/>
        <result column="运输距离" property="transportDistance"/>
        <result column="创建时间" property="createTime"/>
        <result column="更新时间" property="updateTime"/>
    </resultMap>

    <select id="selectByDispatchCode" parameterType="string" resultMap="DispatchOrderNoticeResultMap">
        SELECT * FROM DISPATCH_ORDER_NOTICE WHERE 运输单号 = #{dispatchCode}
    </select>

    <select id="selectByNoticeCode" parameterType="string" resultMap="DispatchOrderNoticeResultMap">
        SELECT * FROM DISPATCH_ORDER_NOTICE WHERE 收运通知单号 = #{noticeCode}
    </select>

    <delete id="deleteByDispatchCode" parameterType="string">
        DELETE FROM DISPATCH_ORDER_NOTICE WHERE 运输单号 = #{dispatchCode}
    </delete>
</mapper>

