<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.transport.VehicleMapper">

    <resultMap id="VehicleResultMap" type="com.erp.entity.transport.Vehicle">
        <id column="车辆编号" property="vehicleId"/>
        <result column="公司名称" property="companyName"/>
        <result column="公司地址" property="companyAddress"/>
        <result column="车牌号" property="plateNo"/>
        <result column="车辆类型" property="vehicleType"/>
        <result column="核载吨位" property="loadCapacity"/>
        <result column="座位数" property="seatCount"/>
        <result column="车辆状态" property="status"/>
        <result column="经营范围" property="operationScope"/>
        <result column="经营许可证号" property="operationLicenseNo"/>
        <result column="发证机关" property="issuingAuthority"/>
        <result column="发证日期" property="issuingDate"/>
        <result column="有效期至" property="licenseValidUntil"/>
        <result column="检验有效期至" property="inspectionValidUntil"/>
        <result column="技术等级评定日期" property="techLevelDate"/>
        <result column="车辆长度_mm" property="vehicleLengthMm"/>
        <result column="车辆宽度_mm" property="vehicleWidthMm"/>
        <result column="车辆高度_mm" property="vehicleHeightMm"/>
        <result column="创建人编码" property="creatorId"/>
        <result column="备注" property="remarks"/>
        <result column="创建时间" property="createTime"/>
        <result column="更新时间" property="updateTime"/>
        <result column="creatorName" property="creatorName"/>
        <result column="vehicleCode" property="vehicleCode"/>
    </resultMap>

    <sql id="BaseSelectSql">
        SELECT
            v.车辆编号,
            v.公司名称,
            v.公司地址,
            v.车牌号,
            v.车辆类型,
            v.核载吨位,
            v.座位数,
            v.车辆状态,
            v.经营范围,
            v.经营许可证号,
            v.发证机关,
            v.发证日期,
            v.有效期至,
            v.检验有效期至,
            v.技术等级评定日期,
            v.车辆长度_mm,
            v.车辆宽度_mm,
            v.车辆高度_mm,
            v.创建人编码,
            v.备注,
            v.创建时间,
            v.更新时间,
            creator.员工姓名 AS creatorName,
            CONCAT('V', LPAD(v.车辆编号, 6, '0')) AS vehicleCode
        FROM VEHICLE v
        LEFT JOIN EMPLOYEE creator ON v.创建人编码 = creator.员工编码
    </sql>

    <select id="selectDetailById" resultMap="VehicleResultMap">
        <include refid="BaseSelectSql"/>
        WHERE v.车辆编号 = #{vehicleId}
    </select>

    <select id="selectByPlateNo" resultMap="VehicleResultMap">
        <include refid="BaseSelectSql"/>
        WHERE v.车牌号 = #{plateNo}
    </select>

    <select id="selectVehiclePage" resultMap="VehicleResultMap">
        <include refid="BaseSelectSql"/>
        <where>
            <!-- 数据范围过滤：仅查看自己创建的车辆 -->
            <if test="creatorFilter != null">
                AND v.创建人编码 = #{creatorFilter}
            </if>
            <if test="plateNo != null and plateNo != ''">
                AND v.车牌号 LIKE CONCAT('%', #{plateNo}, '%')
            </if>
            <if test="vehicleCode != null and vehicleCode != ''">
                AND (
                    CAST(v.车辆编号 AS CHAR) LIKE CONCAT('%', #{vehicleCode}, '%')
                    OR CONCAT('V', LPAD(v.车辆编号, 6, '0')) LIKE CONCAT('%', #{vehicleCode}, '%')
                )
            </if>
            <if test="companyName != null and companyName != ''">
                AND v.公司名称 LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND v.车辆状态 = #{status}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY
                <choose>
                    <when test="orderBy == 'vehicleId'">v.车辆编号</when>
                    <when test="orderBy == 'plateNo'">v.车牌号</when>
                    <when test="orderBy == 'companyName'">v.公司名称</when>
                    <when test="orderBy == 'status'">v.车辆状态</when>
                    <when test="orderBy == 'createTime'">v.创建时间</when>
                    <when test="orderBy == 'updateTime'">v.更新时间</when>
                    <otherwise>v.车辆编号</otherwise>
                </choose>
                <choose>
                    <when test="orderDirection == 'asc'">ASC</when>
                    <when test="orderDirection == 'desc'">DESC</when>
                    <otherwise>DESC</otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY v.车辆编号 DESC
            </otherwise>
        </choose>
    </select>

    <select id="selectVehicleList" resultMap="VehicleResultMap">
        <include refid="BaseSelectSql"/>
        <where>
            <!-- 数据范围过滤：viewScope=SELF 时只导出自己创建的数据 -->
            <if test="creatorFilter != null">
                AND v.创建人编码 = #{creatorFilter}
            </if>
            <if test="plateNo != null and plateNo != ''">
                AND v.车牌号 LIKE CONCAT('%', #{plateNo}, '%')
            </if>
            <if test="vehicleCode != null and vehicleCode != ''">
                AND (
                    CAST(v.车辆编号 AS CHAR) LIKE CONCAT('%', #{vehicleCode}, '%')
                    OR CONCAT('V', LPAD(v.车辆编号, 6, '0')) LIKE CONCAT('%', #{vehicleCode}, '%')
                )
            </if>
            <if test="companyName != null and companyName != ''">
                AND v.公司名称 LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND v.车辆状态 = #{status}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY
                <choose>
                    <when test="orderBy == 'vehicleId'">v.车辆编号</when>
                    <when test="orderBy == 'plateNo'">v.车牌号</when>
                    <when test="orderBy == 'companyName'">v.公司名称</when>
                    <when test="orderBy == 'status'">v.车辆状态</when>
                    <when test="orderBy == 'createTime'">v.创建时间</when>
                    <when test="orderBy == 'updateTime'">v.更新时间</when>
                    <otherwise>v.车辆编号</otherwise>
                </choose>
                <choose>
                    <when test="orderDirection == 'asc'">ASC</when>
                    <when test="orderDirection == 'desc'">DESC</when>
                    <otherwise>DESC</otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY v.车辆编号 DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insertBatch">
        INSERT INTO VEHICLE (
            公司名称, 公司地址, 车牌号, 车辆类型, 核载吨位, 座位数, 车辆状态,
            经营范围, 经营许可证号, 发证机关, 发证日期, 有效期至, 检验有效期至,
            技术等级评定日期, 车辆长度_mm, 车辆宽度_mm, 车辆高度_mm, 创建人编码, 备注, 创建时间, 更新时间
        ) VALUES
        <foreach collection="vehicles" item="item" separator=",">
            (
                #{item.companyName}, #{item.companyAddress}, #{item.plateNo}, #{item.vehicleType},
                #{item.loadCapacity}, #{item.seatCount}, #{item.status},
                #{item.operationScope}, #{item.operationLicenseNo}, #{item.issuingAuthority},
                #{item.issuingDate}, #{item.licenseValidUntil}, #{item.inspectionValidUntil},
                #{item.techLevelDate}, #{item.vehicleLengthMm}, #{item.vehicleWidthMm},
                #{item.vehicleHeightMm}, #{item.creatorId}, #{item.remarks},
                #{item.createTime}, #{item.updateTime}
            )
        </foreach>
    </insert>

    <select id="selectExistingPlateNos" resultType="java.lang.String">
        SELECT 车牌号 FROM VEHICLE WHERE 车牌号 IN
        <foreach collection="plateNos" item="plateNo" open="(" separator="," close=")">
            #{plateNo}
        </foreach>
    </select>

</mapper>

