<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.settlement.SettlementWasteInfoMapper">

    <resultMap id="BaseResultMap" type="com.erp.entity.settlement.SettlementWasteInfo">
        <id column="危废信息编号" property="wasteInfoId"/>
        <result column="结算明细编号" property="detailId"/>
        <result column="来源废物项编号" property="sourceWasteItemId"/>
        <result column="废物类别" property="wasteCategory"/>
        <result column="废物代码" property="wasteCode"/>
        <result column="废物名称" property="wasteName"/>
        <result column="创建时间" property="createTime"/>
        <result column="更新时间" property="updateTime"/>
        <result column="是否删除" property="deleted"/>
        <result column="version" property="version"/>
    </resultMap>

    <sql id="Base_Column_List">
        危废信息编号, 结算明细编号, 来源废物项编号, 废物类别, 废物代码, 废物名称,
        创建时间, 更新时间, 是否删除, version
    </sql>

    <!-- 根据结算明细ID查询危废信息 -->
    <select id="selectByDetailId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM SETTLEMENT_WASTE_INFO
        WHERE 结算明细编号 = #{detailId}
          AND 是否删除 = 0
    </select>

    <!-- 根据结算明细ID列表批量查询危废信息 -->
    <select id="selectByDetailIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM SETTLEMENT_WASTE_INFO
        WHERE 结算明细编号 IN
        <foreach collection="detailIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND 是否删除 = 0
    </select>

    <!-- 根据结算单ID查询所有关联的危废信息 -->
    <select id="selectBySettlementId" resultMap="BaseResultMap">
        SELECT swi.*
        FROM SETTLEMENT_WASTE_INFO swi
        INNER JOIN SETTLEMENT_WASTE_DETAIL swd ON swi.结算明细编号 = swd.明细编号
        WHERE swd.结算单编号 = #{settlementId}
          AND swi.是否删除 = 0
          AND swd.是否删除 = 0
    </select>

    <!-- 批量插入危废信息 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="wasteInfoId">
        INSERT INTO SETTLEMENT_WASTE_INFO
        (结算明细编号, 来源废物项编号, 废物类别, 废物代码, 废物名称)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.detailId}, #{item.sourceWasteItemId}, #{item.wasteCategory},
             #{item.wasteCode}, #{item.wasteName})
        </foreach>
    </insert>

</mapper>
